.card {
   width: 240px;
   height: 340px;
   display: flex;
   background-color: #151414;
   filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.10)) drop-shadow(0px 0px 18px rgba(171, 140, 245, 0.5));
   border-radius: 10px;
   justify-content: center;
   align-items: center;
}

.image {
   width: 90%;
   border-radius: inherit;
   height: 50%;
}

.image img {
   width: 100%;
   height: 100%;
   border-radius: inherit;
   object-fit: cover;
   /* background-position: center center; */
   object-position: top;
}

.candidate-content {
   height: 40%;
   gap: 10%;
   border-radius: inherit;
   width: 90%;
}