#socialMedia {
     background-color: rgb(33, 149, 216);
     border-radius: 0.4rem;
     /* font-size: 1.5rem; */
     position: relative;
     /* padding: 1rem; */
     transition: all 0.2s ease-in-out;
     width: max-content;
}

#socialMedia::after {
     content: '';
     height: 100%;
     transition: width 0.5s ease-in-out;
     border-radius: inherit;
     width: 0;
     background: rgb(163, 4, 184);
     position: absolute;
     top: 0;
     left: 0;
}

#socialMedia:hover::after {
     width: 100%;
}

#socialMedia span {
     position: relative;
     z-index: 1;
}

